<a href="https://colab.research.google.com/github/Hyangsug/data1/blob/main/Histogram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First, we mount the google drive into colab using the following codes.  This will allow us to use the data files stored in Google Drive.

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Second, we import libraries into colab.  "A Python library is a collection of related modules. It contains bundles of code that can be used repeatedly in different programs."

In [1]:
# Library for dataframes
import numpy as np
import pandas as pd

# Libraries for plotting
import matplotlib
%matplotlib inline
import seaborn as sns
sns.set(style='ticks')

Here we "read-in" the csv file from google drive into the python and assign the file to a variable named "heightweight_df"

**Input**: heightweight_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/H&W.csv')

In [5]:
heightweight_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/H&W.csv')

Because the csv file is assigned to a variable, we can type the variable name to see the contents of the file

**Input**: heightweight_df

In [7]:
heightweight_df

    gender  height  weight
0        0      72     155
1        0      67     145
2        0      65     125
3        1      67     120
4        1      63     105
..     ...     ...     ...
76       0      71     175
77       0      70     155
78       0      67     167
79       1      58     100
80       1      56     100

[81 rows x 3 columns]

# Type in "commands" to cell below and run them to see the results.



 heightweight_df['gender'].nunique()

 heightweight_df.describe()

 heightweight_df.groupby(by='gender').mean()

 heightweight_df.groupby(by='gender').median()

 heightweight_df.groupby(by='gender').var()

 heightweight_df.groupby(by='gender').std()

 heightweight_df['gender'].value_counts(dropna = False)

 heightweight_df.boxplot(column = 'weight', by = 'gender');

 sns.boxplot(x='gender', y='height', data=heightweight_df)

 plot_height = sns.histplot(y = 'weight', data = heightweight_df, binwidth = 5)

 plot_height = sns.histplot(x = 'height', data = heightweight_df, binwidth = 5)

 Hist_Gender = sns.histplot(x = 'height', y = 'weight', data = heightweight_df)

 scatterplot1 = sns.scatterplot(x = 'height', y = 'weight', data = heightweight_df)

 regplot1 = sns.regplot(x = 'height', y = 'weight', data = heightweight_df)

from scipy import stats

stats.pearsonr(heightweight_df['height'], heightweight_df['weight'])