<a href="https://colab.research.google.com/github/Hyangsug/data1/blob/main/Histogram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
# Library for dataframes
import pandas as pd

# Libraries for plotting
import matplotlib
%matplotlib inline
import seaborn as sns

Creating a histogram

In [25]:
heightweight_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/H&W.csv')

In [26]:
heightweight_df

    gender  height  weight
0        0      72     155
1        0      67     145
2        0      65     125
3        1      67     120
4        1      63     105
..     ...     ...     ...
76       0      71     175
77       0      70     155
78       0      67     167
79       1      58     100
80       1      56     100

[81 rows x 3 columns]

In [ ]:
plot_height = sns.histplot(y = 'height', data = heightweight_df, binwidth = 5)